
@{
    ViewBag.Title = "Completed";
}

<div class="feedback positive" style="margin-top:200px;">
    <span class="glyphicon glyphicon-ok"></span>
    <p><strong>感谢你的来信。</strong>
        <br />
         我们会尽快回复您的。谢谢
    </p>
</div>

