@{
      Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Page Not Found</h1>
<div class="alert alert-danger alert-normal">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    <div class="alert-inner">
        <h3>We're sorry! <b>We couldn't find the page you requested.</b></h3>
        <p>To get back on track, please check the link you clicked and try again.</p>
        <p>If this error keeps occurring, please contact <a href="mailto:info@aoqibao.com">info@aoqibao.com</a>.</p>
    </div>
</div>