
@{
    ViewBag.Title = "Privacy";
}

<div class="Privacy">
    <h2>Privacy Policy</h2>
    <div class="rte " id="page-content">
        <p>We have therefore designed a privacy policy to help you understand how we use the personal information that we obtain from you. </p>
        <p>This policy explains how we process all the data that we collect from you.</p>
        <p>We advise all our customers to read this policy to understand and make an informed decision in providing us with your personal details. </p>
        <p>If you do then decide to provide us with your details then you are consenting to the use of your personal information by Aoqibao.com </p>
        <p>as described in this Policy.</p>
        <p>If you have any questions after reading this policy, please contact us via email:info@aoqibao.com</p>
        <p>Each customer has a right to request correction or deletion of their personal details from the records of Aoqibao.com</p>
        <p><b><span>What Personal Data do we collect from you?</span></b></p>
        <p>At Aoqibao.com, we are always aspiring to better ourselves. All our actions are performed so that we can provide a top class service. </p>
        <p>We have therefore detailed below some of the situations where we may collect personal data from you:</p>
        <p>When you place an order, give us your details for postage or when you register on our website, the details are collated and kept as records for Aoqibao.com.</p>
        <p>If you decide to contact us with a question, problem or just comments, Aoqibao.com will keep a copy of your problem along with your details </p>
        <p>as a record on our system.</p>
        <p>We may request your details when carrying out market research although in such a situation you are not obliged to participate or provide your details.</p>
        <p>When an order is placed with us, we keep the details of your transaction for business and account records.</p>
        <p>We also retain records of you visiting our website for billing and advertising purposes.</p>
        <p><b><span>What happens to the information you give us?</span></b></p>
        <p>Personal Details provided to us by you are used in the following ways:</p>
        <p><b><span>Internal Record Keeping</span></b></p>
        <p>We are able to notify you with changes to services that we provide.We can provide you with details of new services, products and information that may </p>
        <p>be of interest to you or that you may request from us via email.</p>
        <p>We are able to present the website in a manner suitable for you so that you experience a pleasant shopping experience.</p>
        <p>Our commitment with you as our customer can then be fulfilled.</p>
        <p>If you do not want us to use your data, please let us know by contacting us via email:info@Aoqibao.com</p>
        <p><b><span>Security</span></b></p>
        <p>We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable </p>
        <p>physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>
        <p><b><span>What are Cookies?</span></b></p>
        <p>A cookie is a small file which asks permission to be placed on your computer's hard drive. Once you agree, the file is added and the cookie helps analyse </p>
        <p>web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor </p>
        <p>its operations to your needs, likes and dislikes by gathering and remembering information about your preferences.</p>
        <p>Each Web site can send its own cookie to your browser if your browser's preferences allow it, but (to protect your privacy) your browser only permits a Web site </p>
        <p>to access the cookies it has already sent to you, not the cookies sent to you by other sites.</p>
        <p>We may collect information about your computer, including where available your IP address, operating system and browser type, for system administration and </p>
        <p>our own analytical purposes. This is statistical data about our users' browsing actions and patterns, and does not identify any individual.</p>
        <p><b><span>How Do We Use Information We Collect from Cookies?</span></b></p>
        <p>We use cookies to identify which pages are being used. This helps us analyse data about web page traffic and improve our website in order to tailor it to customer needs.</p>
        <p>We only use this information for statistical analysis purposes and then the data is removed from the system. It also allows us to calculate the aggregate number of people </p>
        <p>visiting our website and which parts are more popular.</p>
        <p>Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access </p>
        <p>to your computer or any information about you, other than the data you choose to share with us.</p>
        <p>You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. </p>
        <p>This may prevent you from taking full advantage of the website.</p>
        <p><b><span>How do you control the Personal Information you provide?</span></b></p>
        <p>At Aoqibao.com, we may request personal information as explained above. This may be in the forms detailed below:</p>
        <p><b><span>Registration Information</span></b></p>
        <p>You will provide us information about yourself, your firm or company, and your practices when you register to be a user of our services, register for certain services, or register </p>
        <p>for email newsletters and alerts.</p>
        <p><b><span>Email Information</span></b></p>
        <p>If you choose to correspond with us through email, we may retain the content of your email messages together with your email address and our responses.</p>
        <p>You may choose to restrict the collection or use of your personal information in the following ways:</p>
        <p>If you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by writing to or emailing us via email.</p>
        <p>If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible via the contact us section. We will promptly </p>
        <p>correct any information found to be incorrect.</p>
        <p>You may request details of personal information which we hold about you under the Privacy Amendment Act 2000. A small fee will be payable. If you would like a copy of the </p>
        <p>information held on you please write to us via email.</p>
        <p><b><span>Will we provide your personal details to third parties?</span></b></p>
        <p>We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information </p>
        <p>to send you promotional information about third parties which we think you may find interesting if you tell us that you wish this to happen.</p>
        <p>We may disclose your information to third parties only in the circumstances stated below:</p>
        <p>In the event that we sell or buy any business or assets, in which case we may disclose your personal data to the prospective seller or buyer of such business or assets.</p>
        <p>If Aoqibao.comor substantially all of its assets are acquired by a third party, in which case personal data held by it about its customers will be one of the transferred assets.</p>
        <p>If we are under a duty to disclose or share your personal data in order to comply with any legal obligation, or in order to enforce or apply our terms of use and other agreements; </p>
        <p>or to protect the rights, property, or safety of Aoqibao.com, our customers, or others. This includes exchanging information with other companies and organisations for the </p>
        <p>purposes of fraud protection and credit risk reduction.</p>
        <p>We use third parties to facilitate our business, including, but not limited to, sending email and processing credit card payments. In connection with these business operations, our </p>
        <p>partners and other third parties may have access to your personal information for use in connection with business activities. </p>
        <p><b><span>How Do We Protect Your Information?</span></b></p>
        <p>Secure Information Transmissions</p>
        <p>Email is not recognized as a secure medium of communication. For this reason, we request that you do not send private information to us by email. Some of the information you </p>
        <p>may enter on our Website may be transmitted securely via Secure Sockets Layer SSL, 128 bit encryption services. Pages utilizing this technology will have URL's that start with </p>
        <p>HTTPS instead of HTTP.</p>
        <p>Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security </p>
        <p>of your data transmitted to our site; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent </p>
        <p>unauthorised access.</p>
        <p>Where we have given you (or where you have chosen) a password which enables you to access certain parts of our site, you are responsible for keeping this password confidential. </p>
        <p>We ask you not to share a password with anyone.</p>
        <p><b><span>Your rights</span></b></p>
        <p>You have the right to ask us not to process your personal data for marketing purposes. We will usually inform you (before collecting your data) if we intend to use your data for such </p>
        <p>purposes. You can exercise your right to prevent such processing by checking certain boxes on the forms we use to collect your data.</p>
        <p>Our site may, from time to time, contain links to and from the websites of our partner networks, advertisers and affiliates. If you follow a link to any of these websites, please note that </p>
        <p>these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal </p>
        <p>data to these websites.</p>
        <p><b><span>How Can You Access and Correct Your Information?</span></b></p>
        <p>The Act gives you the right to access information held about you. You may request access to all your personally identifiable information that we collect online and maintain in our database </p>
        <p>by contacting us. Your right of access can be exercised in accordance with the Act. Any access request may be subject to a fee.</p>
        <p><b><span>Changes to our privacy policy</span></b></p>
        <p>Any changes we may make to our privacy policy in the future will be posted on this page and, where appropriate, notified to you by e-mail.</p>
        <p><b><span>Contact Us</span></b></p>
        <p>Please email to info@aoqibao.com.f</p>
        <p> </p>
    </div>
</div>

