
@{
    ViewBag.Title = "支付与配送";
}

<div id="pay">
    <div class="clearfix page-container instapaper_body hentry full-width">
        <h1 class="page-title instapaper_title entry-title">支付与配送</h1>
        <div class="rte " id="page-content">
            <h4><span style="color: #000000;">澳琪宝是由澳洲公司全资拥有的线上平台，支付方式如下：</span></h4>
            <h4><span style="color: #000000;">支付宝</span></h4>
            <h4><span style="color: #000000;"><img src="~/Content/images/alipay.png"/></span></h4>
            <h4><span style="color: #000000;">目前网站暂不支持购物车支付宝直接结算，但是如果亲们有支付宝账户，可以注明：收货人信息、订单号直接支付到我们支付宝账户：<a href="mailto:fisherv1@hotmail.com"><span style="color: #000000;">fisherv1@hotmail.com</span></a></span></h4>
            <h4><span style="color: #000000;">澳琪宝客服会在第一时间处理您的付款、订单及发货。</span></h4>
            <h4><span style="color: #000000;">关于配送：当亲们完成支付后，澳琪宝会直接从我们澳洲仓库挑选商品、包装并与合作的快递公司完成投递。所有物流信息，您都能在官网跟踪掌握。</span></h4>
            <h4><span style="color: #000000;">发货时间：澳洲每周六集中发货。</span></h4>
            <h4><span style="color: #000000;">快递时效：澳琪宝提供您个性化的全方位服务，因此根据时效的差异，与我们合作的澳中专线快递公司主要有：澳中快递、澳邮快递、EWE、AUPOST等，这些专线快递公司都是与澳洲邮政、中国邮政合作的快递公司，正常情况下7-15个工作日到达中国。如果遇到海关扣关、查验等不可预见的情况，收货时间有可能达到30-40天以上。</span></h4>
            <h4><span style="color: #000000;">关于验货签收：请您在收到包裹时，当着投递人员面前打开包裹并验货。所有澳琪宝邮寄的商品，我们都会在包装、发货前仔细检查并拍照留存。如因长途运输造成的商品损坏，澳琪宝不支持退、换货，如果是快递公司的责任，我们会帮助您索赔。</span></h4>
        </div>
    </div>

</div>

