body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Header*/
.navbar-brand {
    background: url("http://giftpay.com//images/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 27px;
    margin-top: 16px;
    padding: 0;
    width: 111px;
}

.navbar-collapse {
    float: left;
}

.navbar-header {
 width: 150px;
}


/* Footer*/

.footer-left-content {
    float: left;
    margin: 0;
    width:100%;
}
.footer-nav {
    line-height: 14px;
    margin-bottom: 14px;
}


.footer-nav a, #shopify-attr a {
    color: #333333;
}
.footer-nav a {
    display: inline-block;
    font-size: 13px;
    padding-right: 10px;
}


#shopify-attr {
    color: #333333;
    font-size: 12px;
    line-height: 14px;
    margin-top: 0;
    float:right;
}

/*Home Page*/
.banner {
 margin-top:100px;
}

#products-column.full-width {
    float: none;
    width: auto;
}
#products-column {
    float: right;
    padding-top: 38px;
    width: 422px;
}

#products-column-header {
    margin-bottom: 27px;
    overflow: hidden;
}

#products-column-header a {
    float: right;
    font-size: 12px;
    margin-top: 7px;
}
.accent-text {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
}

#coll-product-list, #collection-list {
    list-style-type: none;
    margin: 0 0 0 -40px;
    padding: 0;
}

.four-per-row {
    width: 191px;
    height:246px;
}
.four-per-row, .three-per-row {
    display: block;
    float: left;
    margin: 0 0 36px 40px;
    width: 191px;
}

.four-per-row .coll-image-wrap {
    height: 191px;
    width: 191px;
}
.four-per-row .coll-image-wrap, .three-per-row .coll-image-wrap {
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
    text-align: center;
}

#coll-product-list, #collection-list {
    list-style-type: none;
}

.four-per-row .coll-prod-caption {
    margin-top: 13px;
}

.four-per-row .coll-prod-meta.no-medallion {
    text-align: center;
}
.four-per-row .coll-prod-meta {
    font-size: 13px;
}

.four-per-row .coll-prod-title {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
a {
    color: #677e87;
    text-decoration: none;
}

.collection-list-product-count {
    line-height: 21px;
    margin: 0;
}

.four-per-row .coll-image-wrap img {
    max-width: 191px;
    height:191px;
}

#welcome-text {
    margin-bottom: 40px;
    float:left;
}

#fp-welcome-title {
    margin-bottom: 20px;
}
.widget-title {
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 19px;
    margin: 0;
    vertical-align: top;
}

.rte {
    color: #333333;
    font-size: 14px;
    line-height: 21px;
}


/* Product */
.greybox {
    overflow: hidden;
    text-align: left;
}
.giftcard a, .greybox {
    background: none repeat scroll 0 0 #f5f5f5;
    color: #000;
    display: block;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    transition: background 0.3s ease 0s;
}

ol, ul {
    list-style: outside none none;
}

.product-sidebar li a {
    display: block;
    padding: 0 0 15px;
}

.greybox {
    text-align: left;
}

.four-per-row .coll-prod-price {
    color: #eb1e77;
    margin: 3px 0 0;
}


#product-photos {
    float: left;
    width: 422px;
}

#product-photo-container {
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 422px;
}

#product-content {
    margin: 68px auto 0;
    padding-bottom: 40px;
    width: 884px;
}

#product-details {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 422px;
}

#product-details li {
    border-bottom: 1px solid #eeeeee;
}

#product-details li:last-child {
    border-bottom: 0 none;
}

#product-title {
    padding: 0 0 26px;
}

#product-title h1 {
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 35px;
    line-height: 40px;
    margin: 0 0 10px;
}

#product-prices {
    padding: 15px 0 21px;
}

.product-price {
    color: #eb1e77;
    display: inline;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 35px;
    margin: 0 12px 0 0;
}

#product-description {
    padding: 21px 0 14px;
}


/* About */
.page-title {
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 35px;
    line-height: 35px;
    margin: 0 0 42px;
    max-width: 560px;
}

.full-width #page-content {
    float: none;
    width: auto;
}

#page-content {
    float: left;
    padding-bottom: 50px;
    width: 576px;
}


/* Contact */

label {
    color: #333333 !important;
    display: block !important;
    font-size: 14px !important;
    margin-bottom: 8px !important;
}

input.hint, textarea.hint, input.hint[type="text"], input.hint[type="tel"], input.hint[type="password"], input.hint[type="email"] {
    color: #bbbbbb;
}
.contact-form .styled-input, .comment-form .styled-input, textarea {
    width: 300px;
}

.styled-input, input[type="text"], input[type="tel"], input[type="password"], input[type="email"], textarea {
    background-color: transparent;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    color: #333333;
    font-size: 14px;
    margin-bottom: 14px;
    outline: 0 none;
    padding: 10px 9px;
}
input.hint, textarea.hint, input.hint[type="text"], input.hint[type="tel"], input.hint[type="password"], input.hint[type="email"] {
    color: #bbbbbb;
}
input:valid, textarea:valid {
}
.styled-input, input[type="text"], input[type="tel"], input[type="password"], input[type="email"], textarea {
    background-color: transparent;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    color: #333333;
    font-size: 14px;
    margin-bottom: 14px;
    outline: 0 none;
    padding: 10px 9px;
}
button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
body, button, input, select, textarea {
    color: #222;
    font-family: sans-serif;
}



input:valid, textarea:valid {
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
.styled-submit {
    padding: 11px 14px 9px;
}
.styled-submit, .btn, .button {
    background-color: skyblue;
    border: medium none;
    border-radius: 4px;
    color: #ffffff;
    display: block;
    font-size: 14px;
    font-weight: 700;
    outline: medium none;
    padding: 11px 14px;
    position: relative;
    z-index: 1;
}


.positive {
  border: 1px solid #66AC18;
  color: #4c9100;
}

.feedback {
  margin-bottom: 20px;
  padding: 20px 20px 0;
  font-size: 16px;
}

.feedback span {
  font-size: 24px;
  float: left;
  padding-right: 15px;
}


/* Error Page*/

.alert {
  border-radius: 0;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 20px;
  overflow: hidden;
}
.alert-normal {
  border: 1px solid #000;
  color: #000;
}

.alert span {
  float: left;
  font-size: 24px;
  padding-right: 15px;
}

.alert-normal .alert-inner {
  float: left;
}

.alert-normal h3 {
  padding-bottom: 15px;
  font-size: 22px;
  margin-top:0px;
}

.alert-normal {
  border: 1px solid #000;
  color: #000;
}