@using AoqibaoStore.Models;



@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>所有产品</h2>
    <div id="products">
        <div class="row">
            <div class="col-md-3">
                <div class="greybox">
                    <ul class="product-sidebar">
                        <li>
                            <a href="/">所有产品</a>
                        </li>
                        @foreach (Category p in ViewData["Categories"] as List<Category>)
                        {
                            <li>
                                <a href="/">@p.name</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>

            <div class="col-md-9">

            </div>


        </div>
    </div>
</div>
