
@{
    ViewBag.Title = "正品保证";
}

<div id="quality">
    <div class="clearfix page-container instapaper_body hentry full-width">
        <h1 class="page-title instapaper_title entry-title">100%正品保证</h1>
        <div class="rte " id="page-content">
            <h4 style="text-align: left;"><span style="color: #000000;">所有澳琪宝的产品均采购自澳洲的连锁药房、连锁超市，我们保证所有产品100%为正品。本网站的产品价格均为澳洲各大药房、超市的官方价格。您下单，我们帮您去直接采购直邮！</span></h4>
            <p style="padding-left: 270px;"><span style="color: #000000;"></span></p>
        </div>
    </div>
</div>

