
@{
    ViewBag.Title = "售后服务";
}

<div class="Warranty">
    <h2>售后服务</h2>
    <div class="rte " id="page-content">
        <h4><span style="color: #000000;">澳琪宝提供15天退货保障。自您收到商品之日起（以签收日期为准），15天内提出退货申请。</span></h4>
        <h4><span style="color: #000000;">不支持退货的情况说明：</span></h4>
        <h4><span style="color: #000000;">1.商品已损坏或已经影响二次销售。</span></h4>
        <h4><span style="color: #000000;">2.商品外包装、原包装破损或商品本身不完整，如吊牌、商标已丢失；商品说明书或保修手册、保修证明已丢失或不可用等情况。</span></h4>
        <h4><span style="color: #000000;">3.赠品、销售时注明为处理品等商品。</span></h4>
        <h4><span style="color: #000000;">4.内衣等二次销售存在卫生、安全等风险的商品。</span></h4>
        <h4><span style="color: #000000;">退货流程：</span></h4>
        <h4><span style="color: #000000;">请您填写随快递附送的澳琪宝退货情况表，连同需退货的商品一起回寄到我们澳洲的指定退换货部门处理。在退换货过程中，如有任何疑问或需要帮助的情况，请联系Email:info@aoqibao.com澳琪宝的专职客服会尽快与您联系并处理您的退货申请。</span></h4>
        <h4><span style="color: #000000;">退货处理时效：</span></h4>
        <h4><span style="color: #000000;">澳琪宝承诺在收到退货商品后的7个工作日内完成质检并退款。</span></h4>
        <h4><span style="color: #000000;">退款规定：</span></h4>
        <h4><span style="color: #000000;">通过支付宝、PAYPAL购买的顾客，退款将直接退到您的支付宝、PAYPAL账户。</span></h4>
        <h4><span style="color: #000000;">通过银行卡（含借记卡）、信用卡购买的顾客，退款将直接退到您的银行卡、信用卡上。</span></h4>
        <h4><span style="color: #000000;">澳琪宝承诺：任何一笔退款完成后，将通过专职客服通知到您。</span></h4>
        <h4><span style="color: #000000;">&nbsp;</span></h4>
        <h4><span style="color: #000000;">如果您在退款过程中有任何不满意或需要沟通的情况，请直接联系 Email:info@aoqibao.com</span></h4>
    </div>
</div>

