@{
    ViewBag.Title = "";
}
<script src="~/Scripts/jquery-1.9.0.min.js"></script>
<script src="~/Scripts/jquery.bxslider.js"></script>
<link href="~/Content/jquery.bxslider.css" rel="stylesheet" />



<div class="container">
    <div id="header" class="text-center">
        <div id="title">
            <!--  <h2>澳琪宝海外专业代购</h2> -->
        </div>

        @*  <div class="banner">
            <img src="~/Content/images/banner.jpg" width="90%" />

                </div>*@
        <div style="width:100%;display:block;float:left;">
            <div style="width:83%;float:right;" class="clearfix">
                <ul class="bxslider">
                    <li><img src="~/Content/images/Slideshow/slideshow1.jpg" /></li>
                    <li><img src="~/Content/images/Slideshow/slideshow2.jpg" /></li>
                    <li><img src="~/Content/images/Slideshow/slideshow3.jpg" /></li>
                </ul>
            </div>

        </div>
        <div id="columns-wrap" class="clearfix" style="float:left;">
            <div id="products-column" class="full-width">
                <div id="products-column-header" class="clearfix">
                    <h2>产品分类</h2>
                    <a href="#" class="accent-text">所有产品 →</a>
                </div>

                <ul id="collection-list" class="clearfix">
                    <li class="four-per-row clearfix">
                        <div class="coll-image-wrap">
                            <a href="/">
                                <img alt="保健品" src="~/Content/images/Category/category1.jpg" style="margin-top: 7.5px; opacity: 1;width:auto;" />
                            </a>
                        </div>
                        <div class="coll-prod-caption">
                            <div class="coll-prod-meta no-medallion">
                                <a class="coll-prod-title" href="/">保健品</a>
                                <p class="collection-list-product-count accent-text">84 products</p>
                            </div>
                        </div>
                    </li>
                    <li class="four-per-row clearfix">
                        <div class="coll-image-wrap">
                            <a href="/">
                                <img alt="塑身与纤体" src="~/Content/images/Category/category2.png" style="margin-top: 7.5px; opacity: 1;width:auto;" />
                            </a>
                        </div>
                        <div class="coll-prod-caption">
                            <div class="coll-prod-meta no-medallion">
                                <a class="coll-prod-title" href="/">塑身与纤体</a>
                                <p class="collection-list-product-count accent-text">10 products</p>
                            </div>
                        </div>
                    </li>
                    <li class="four-per-row clearfix">
                        <div class="coll-image-wrap">
                            <a href="/">
                                <img alt="奶粉" src="~/Content/images/Category/category3.png" style="margin-top: 7.5px; opacity: 1;width:auto;" />
                            </a>
                        </div>
                        <div class="coll-prod-caption">
                            <div class="coll-prod-meta no-medallion">
                                <a class="coll-prod-title" href="/">奶粉</a>
                                <p class="collection-list-product-count accent-text">30 products</p>
                            </div>
                        </div>
                    </li>

                    <li class="four-per-row clearfix">
                        <div class="coll-image-wrap">
                            <a href="/">
                                <img alt="美发及洗护用品" src="~/Content/images/Category/category4.jpg" style="margin-top: 7.5px; opacity: 1;width:auto;" />
                            </a>
                        </div>
                        <div class="coll-prod-caption">
                            <div class="coll-prod-meta no-medallion">
                                <a class="coll-prod-title" href="/">美发及洗护用品</a>
                                <p class="collection-list-product-count accent-text">46 products</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div id="welcome-text">
            <h2 id="fp-welcome-title" class="widget-title">100%正品保证</h2>
            <div class="rte">
                <h4 style="text-align:left">
                    <span style="color: #000000;">所有澳琪宝的产品均采购自澳洲的连锁药房、连锁超市，我们保证所有产品100%为正品。本网站的产品价格均为澳洲各大药房、超市的官方价格。您下单，我们帮您去直接采购直邮！</span>
                </h4>
            </div>
        </div>


    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('.bxslider').bxSlider({
            auto:true
        });
    });
</script>