
@{
    ViewBag.Title = "关于我们";
}

<div class="clearfix page-container instapaper_body hentry full-width">
    <h1 class="page-title instapaper_title entry-title">关于我们</h1>
    <div class="rte " id="page-content">
        <h4><span style="color: #000000;">澳琪宝是一家澳洲商品海淘折扣网站，力求将最优惠的澳洲产品送到每一位顾客的手上，同时也让更多的中国朋友了解澳洲。</span></h4>
    </div>

</div>
